$white: rgba(255, 255, 255, 1);
$mix-intensity: 50%;

$dashboard-blue: rgba(25, 100, 200, 1);
$dashboard-blue-light: color-mix(in srgb, $dashboard-blue $mix-intensity, $white);

$favorite-red: rgba(200, 25, 15, 1);
$favorite-red-light: color-mix(in srgb, $favorite-red $mix-intensity, $white);

$settings-purple: rgba(100, 50, 175, 1);
$settings-purple-light: color-mix(in srgb, $settings-purple $mix-intensity, $white);

$help-orange: rgba(225, 150, 50, 1);
$help-orange-light: color-mix(in srgb, $help-orange $mix-intensity, $white);

@keyframes wobble-scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}

.sqzy-navigation-list {
  padding-top: 72px;

  .sqzy-navigation-list-item {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);

      .mat-icon {
        animation: wobble-scale 1000ms ease-in-out forwards;
        transition: text-shadow 1000ms linear;
      }

      &.sqzy-navigation-list-item-dashboard {
        .mat-icon {
          // color: $dashboard-blue;
          text-shadow:
            0 0 1px $dashboard-blue-light,
            0 0 2px $dashboard-blue-light,
            0 0 3px $dashboard-blue-light,
            0 0 4px $dashboard-blue-light;
        }
      }

      &.sqzy-navigation-list-item-favorite {
        .mat-icon {
          // color: $favorite-red;
          text-shadow:
            0 0 1px $favorite-red-light,
            0 0 2px $favorite-red-light,
            0 0 3px $favorite-red-light,
            0 0 4px $favorite-red-light;
        }
      }

      &.sqzy-navigation-list-item-settings {
        .mat-icon {
          // color: $settings-purple;
          text-shadow:
            0 0 1px $settings-purple-light,
            0 0 2px $settings-purple-light,
            0 0 3px $settings-purple-light,
            0 0 4px $settings-purple-light;
        }
      }

      &.sqzy-navigation-list-item-help {
        .mat-icon {
          // color: $help-orange;
          text-shadow:
            0 0 1px $help-orange-light,
            0 0 2px $help-orange-light,
            0 0 3px $help-orange-light,
            0 0 4px $help-orange-light;
        }
      }
    }
  }
}
