@keyframes pulsate {
  from {
    transform: scale(0.975);
  }
  to {
    transform: scale(1.025);
  }
}

@keyframes flicker {
  from {
    color: red;
    text-shadow: 0 0 4px red;
  }
  to {
    color: crimson;
    text-shadow: 0 0 4px crimson;
  }
}

.sqzy-live-indicator {
  animation:
    pulsate 500ms ease-in-out infinite alternate,
    flicker 1s ease-in-out infinite alternate;
}

.sqzy-icon-demo-area {
  .mat-icon {
    fill: white;
  }
}

.sqzy-center-content {
  text-align: center;
}

.sqzy-angular-logo {
  margin-bottom: 12px;
  max-width: 12rem;
}

.sqzy-search-form-field {
  margin: 24px 0;
}

.sqzy-container-card-region {
  .sqzy-container-card-group {
    .sqzy-container-card {
      .sqzy-card-image {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.sqzy-chapter-list-item {
  background-color: rgba(75, 200, 250, 0.15);
  border: 1px solid rgba(50, 175, 225, 0.35);
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    filter: brightness(1.15);
  }

  &.active {
    border: 1px solid rgba(250, 220, 210, 0.75);
  }
}
