<mat-nav-list class="sqzy-social-share-list" (click)="onNavigationClicked()">
  <a mat-list-item href="https://www.twitch.tv/a_seagull" target="_blank" class="sqzy-social-share-link">
    <mat-icon matListItemIcon svgIcon="twitch"></mat-icon>
    <div matListItemTitle>&#64;A_Seagull</div>
    <div matListItemLine>twitch.tv/A_Seagull</div>
    <!-- <div matListItemLine>1.2M Followers</div> -->
    <div matListItemMeta>
      <mat-icon>open_in_new</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item href="https://www.youtube.com/@a_seagull" target="_blank" class="sqzy-social-share-link">
    <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
    <div matListItemTitle>&#64;A_Seagull</div>
    <div matListItemLine>youtube.com/&#64;A_Seagull</div>
    <div matListItemMeta>
      <mat-icon>open_in_new</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item href="https://www.twitter.com/@a_seagull" target="_blank" class="sqzy-social-share-link">
    <mat-icon matListItemIcon svgIcon="twitter"></mat-icon>
    <div matListItemTitle>&#64;A_Seagull</div>
    <div matListItemLine>twitter.com/A_Seagull</div>
    <div matListItemMeta>
      <mat-icon>open_in_new</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item href="https://www.instagram.com/a_seagull" target="_blank" class="sqzy-social-share-link">
    <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
    <div matListItemTitle>&#64;A_Seagull</div>
    <div matListItemLine>instagram.com/A_Seagull</div>
    <div matListItemMeta>
      <mat-icon>open_in_new</mat-icon>
    </div>
  </a>
</mat-nav-list>
