<button #menuTrigger mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Change Language" matTooltipPosition="below">
  <mat-icon fontSet="material-icons-outlined">language</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before" class="sqzy-menu-panel">
  <div class="sqzy-menu-grid">
    @for (menuEntry of menuEntries; track menuEntry.id) {
      <div mat-menu-item (click)="onMenuSelected(menuEntry.value)">
        @if (menuEntry.isSvg) {
          <mat-icon [svgIcon]="menuEntry.icon"></mat-icon>
        } @else {
          <mat-icon>{{ menuEntry.icon }}</mat-icon>
        }
        <span>{{ menuEntry.text }}</span>
      </div>
    }
  </div>
</mat-menu>
