::ng-deep .sqzy-menu-panel {
  max-width: none !important;

  .sqzy-menu-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  @media screen and (max-height: 400px) {
    .sqzy-menu-grid {
      grid-template-columns: auto auto auto;
    }
  }
}
