@if (stream$ | async; as stream) {
  <h1>{{ stream.title }} [ {{ stream.broadcastId }} ]</h1>
  <h2>{{ stream.duration }} seconds</h2>
  <mat-list>
    <h3 matSubheader>Chapters</h3>
    @for (chapter of stream.chapters; track chapter.id) {
      <mat-list-item>
        <mat-icon matListItemIcon>games</mat-icon>
        <h4 matListItemTitle>{{ chapter.game.title }}</h4>
        <p matListItemLine>&#64; {{ chapter.offset }} for {{ chapter.duration }}s</p>
      </mat-list-item>
    }
  </mat-list>
  <mat-chip-listbox>
    @for (tag of stream.tags; track tag.id) {
      <mat-chip>{{ tag.name }}</mat-chip>
    }
  </mat-chip-listbox>
} @else {
  <div>No stream selected.</div>
}
