$translucent-white: rgba(255, 255, 255, 0.5);

.sqzy-storyboard-image {
  cursor: pointer;
  transition: box-shadow 500ms ease-in-out;

  &:hover {
    box-shadow:
      0 0 3px $translucent-white,
      0 0 6px $translucent-white,
      0 0 9px $translucent-white,
      0 0 12px $translucent-white;
  }
}
