<mat-toolbar color="primary" class="sqzy-fixed-position sqzy-toolbar-action-items">
  <div class="sqzy-toolbar-action-items-left">
    <button
      mat-icon-button
      [matTooltip]="drawer.opened ? 'Close Navigation' : 'Open Navigation'"
      [matTooltipPosition]="'below'"
      (click)="onToggleDrawerClicked()"
    >
      <mat-icon>{{ drawer.opened ? 'list' : 'menu' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="onBookmarkClicked()" matTooltip="Save Bookmark" matTooltipPosition="below">
      <mat-icon>bookmark</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Copy URL to Clipboard"
      matTooltipPosition="below"
      [cdkCopyToClipboard]="currentLocation"
      (cdkCopyToClipboardCopied)="onClipboardCopied()"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <div class="sqzy-toolbar-action-items-center">
    <img src="/assets/images/seagull.png" class="sqzy-seagull-icon" />
    <h1 class="sqzy-toolbar-title">{{ 'toolbar.title' | translate }}</h1>
  </div>
  <div class="sqzy-toolbar-action-items-right">
    <button mat-icon-button matTooltip="Profile" matTooltipPosition="below">
      <mat-icon>person</mat-icon>
    </button>
    <sqzy-theme-selector></sqzy-theme-selector>
    <sqzy-language-selector></sqzy-language-selector>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sqzy-sidenav-container">
  <mat-sidenav #drawer mode="side">
    <mat-nav-list class="sqzy-navigation-list">
      @for (category of navigationCategories; track category.header; let last = $last) {
        <h3 mat-subheader>{{ category.header }}</h3>
        @for (item of category.items; track item.title) {
          <mat-list-item
            class="sqzy-navigation-list-item sqzy-navigation-list-item-{{ item.icon }}"
            [routerLink]="item.link"
            routerLinkActive="sqzy-navigation-list-item-active"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <div matListItemTitle>{{ item.title }}</div>
            <div matListItemLine>{{ item.subtitle }}</div>
          </mat-list-item>
        }
        @if (!last) {
          <mat-divider></mat-divider>
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sqzy-sidenav-content">
    <main class="sqzy-main">
      <div class="sqzy-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
