<mat-toolbar color="accent" class="sqzy-fixed-position sqzy-toolbar-action-items">
  <div class="sqzy-toolbar-action-items-left">
    <button
      mat-icon-button
      [matTooltip]="drawer.opened ? 'Close Navigation' : 'Open Navigation'"
      [matTooltipPosition]="'below'"
      (click)="onToggleDrawerClicked()"
    >
      <mat-icon>{{ drawer.opened ? 'list' : 'menu' }}</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Profile" matTooltipPosition="below">
      <mat-icon>person</mat-icon>
    </button>
  </div>
  <div class="sqzy-toolbar-action-items-center">
    <img src="/assets/images/seagull.png" class="sqzy-seagull-icon" />
    <h1 class="sqzy-toolbar-title">{{ 'toolbar.title' | translate }}</h1>
  </div>
  <div class="sqzy-toolbar-action-items-right">
    <sqzy-theme-selector></sqzy-theme-selector>
    <sqzy-language-selector></sqzy-language-selector>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sqzy-sidenav-container">
  <mat-sidenav #drawer mode="side">
    <sqzy-navigation-drawer></sqzy-navigation-drawer>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="sqzy-main">
      <div class="sqzy-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
