@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.sqzy-fixed-position {
  position: sticky;
  top: 0;
  z-index: 2;
}

.sqzy-toolbar-action-items {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .sqzy-toolbar-action-items-left,
  .sqzy-toolbar-action-items-center,
  .sqzy-toolbar-action-items-right {
    align-items: center;
    display: flex;
  }

  .sqzy-toolbar-action-items-center {
    .sqzy-seagull-icon {
      cursor: crosshair;
      height: 48px;
      width: 48px;
      margin-right: 8px;

      &:hover {
        animation: color-rotate 500ms linear infinite;
      }
    }

    .sqzy-toolbar-title {
      font-size: 24px;
      font-weight: 800;
    }
  }
}

.sqzy-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sqzy-main {
    align-items: center;
    box-sizing: inherit;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding-top: 48px;
    position: relative;
    width: 100%;

    .sqzy-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-width: 700px;
      padding: 32px;
      width: 100%;
    }
  }
}
