@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-mode-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Define a dark theme
$dark-mode-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
  )
);

// Define colors
$soft-black: rgba(25, 25, 25, 1);
$soft-white: rgba(225, 225, 225, 1);

// Apply the light theme
.sqzy-light-mode-theme {
  @include mat.all-component-themes($light-mode-theme);
  background-color: $soft-white;
  color: $soft-black;

  a {
    color: $soft-black;
  }
}

// Apply the dark theme
.sqzy-dark-mode-theme {
  @include mat.all-component-colors($dark-mode-theme);
  background-color: $soft-black;
  color: $soft-white;

  a {
    color: $soft-white;
  }
}
